<!DOCTYPE html >
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>忘记密码</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/password.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var height = $(document).height();
            $('.main').css('height', height);
        })
    </script>
</head>

<body>
<div class="main">
    <div class="main0">
        <div class="formBox">
            <h3>登录密码重置</h3>
            <ul>
                <li class="mainCol firLi">&gt;身份验证</li>
                <li class="mainCol">&gt;登录密码重置</li>
                <li class="lastLi">&gt;重置完成</li>
            </ul>
            <img src="{% static 'images/line2.png' %}"/>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <div class="itembox itembox_2">
                    <label>登录密码&nbsp;:</label>
                    <input type="text" placeholder="请输入新登录密码" name="username"></span>
                </div>
                <div class="itembox itembox_2">
                    <label>确认密码&nbsp;:</label>
                    <input type="text" placeholder="请再次输入新密码" name="usercpwd"></span>
                </div>
                <div class="btnBox">
                    <input type="submit" value="下一步">
                </div>
                <div style="position: absolute;left: 705px;top: 400px;color: #e82323">{{ msg }}</div>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer0">
        <div class="footer_l">使用条款 | 隐私保护</div>
        <div class="footer_r">© 2015 （杭州）金融信息服务有限公司 杭ICP备0000000号</div>
    </div>
</div>
</body>
</html>
