<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>忘记密码</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/password.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var height = $(document).height();
            $('.main').css('height', height);
        })
    </script>
</head>

<body>
<div class="main">
    <div class="main0">
        <div class="formBox">
            <h3>登录密码重置</h3>
            <ul>
                <li class="mainCol firLi">&gt;身份验证</li>
                <li>&gt;登录密码重置</li>
                <li class="lastLi">&gt;重置完成</li>
            </ul>
            <img src="{% static 'images/line.png' %}"/>
            <form method="post">
                {% csrf_token %}
                <div class="itembox">
                    <label>用户名&nbsp;:</label>
                    <input type="text" placeholder="请输入您要重置的用户名" name="username"></span>
                    <div id="user_error" style="color: #f00;position: absolute;left: 820px;top: 288px;">{{ msg }}</div>
                </div>
                <div class="btnBox">
                    <input type="submit" value="下一步">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer0">
        <div class="footer_l">使用条款 | 隐私保护</div>
        <div class="footer_r">© 2020 鲸图（石家庄）阿巴阿巴文化 有限 公司 冀ICP备0000166号</div>
    </div>
</div>
</body>
</html>
